.course{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    padding: 1rem;
    position: relative;
    img{
      height: 20rem;
      width: 100%;
    }
    .amount{
      position: absolute;
      top: 1rem;
      left: 1rem;
      font-size: 2rem;
      padding: 0.5rem 1rem;
      background: var(--pink);
      color: #fff;
      border-radius: 0.5rem;
    }
    .stars{
      i{
        color: var(--violet);
        font-size: 1.5rem;
        padding: 1rem 0;
      }
    }
    h3{
      color: var(--pink);
      font-size: 2.5rem;
    }
    p{
      color: #666;
      font-size: 1.5rem;
      padding: 0.5rem 0;
    }
    .icons{
      display: flex;
      justify-content: space-between;
      border-top: 0.1rem solid rgba(0,0,0,0.1);
      margin-top: 1rem;
      padding: .5rem;
      padding-top: 1rem;
      p{
        color: #666;
        font-size: 1.3rem;
        i{
          padding-right: 0.4rem;
          color: var(--pink);
        }
      }
    }
  }
}
.heading{
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 0 1rem;
  padding-top: 2.5rem;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
}
