.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  .content{
    flex: 1 1 40rem;
  }
  .image{
    flex: 1 1 40rem;
    img{
      width: 100%;
    }
  }
  h3{
    width: max-content;
    color: transparent;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 4rem;
    position: relative;
  }
  .typing-first::after{
    content: "|";
    position: absolute;
    color: white;
    right: 0;
    width: 100%;
    background:  white;
    animation: typing 1s steps(22) forwards, caret 1s infinite;
  }
  .typing-last{
    &::after{
      content: "|";
      position: absolute;
      color: white;
      right: 0;
      width: 100%;
      background:  white;
      animation-delay: 4s;
      transition-delay: 4s;
      animation: typing 1s steps(15) forwards, caret 1s infinite;
    }
  }
}
.btn{
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 0.5rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
  &:hover{
    background: var(--gradient);
  }
}

// Animation
@keyframes typing {
	to { width: 0 }
}
@keyframes caret {
	50% { color: transparent }
}
