@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import "./mixins.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./home.scss";

:root {
  --violet: #6c5ce7;
  --pink: #fc427b;
  --gradient: linear-gradient(90deg, var(--violet), var(--pink));
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 1s ease-out;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #333;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--gradient);
  padding: 3rem 7%;
  padding-bottom: 9rem;
}

section{
  padding: 2rem 7%;
}

.container {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
