// #media queries
@media (max-width: 911px) {
  html {
    font-size: 55%;
  }
  body {
    padding: 1.5rem;
  }
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu {
    display: initial !important;
  }
  header {
    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #fff;
      border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      a {
        font-size: 2.5rem;
        display: block;
        margin: 2rem 0;
        text-align: center;
      }
    }
  }
}

@media (max-width: 911px) {
  html {
    font-size: 50%;
  }
}
