<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>About us</h3>
      <p>hehe qwei qwey owqe qweo  qweyh</p>
    </div>
    <div class="box">
      <h3>quick links</h3>
      <a href="#">home</a>
      <a href="#">course</a>
      <a href="#">teacher</a>
      <a href="#">price</a>
      <a href="#">review</a>
      <a href="#">contact</a>
    </div>
    <div class="box">
      <h3>flow us</h3>
      <a href="#">facebook</a>
      <a href="#">youtube</a>
      <a href="#">linkedin</a>
      <a href="#">instagram</a>
      <a href="#">tiktok</a>
    </div>
    <div class="box">
      <h3>contact us</h3>
      <p><i class="fas fa-phone"></i>039eew4794019</p>
      <p><i class="fas fa-envelope"></i>tungnguyen120301@gmail</p> 
    </div> 
  </div>
  <div class="credit">created by <span>tung.N.T </span> | all right reserved</div>
</section>